h2 {
    margin-left:10px;
    margin-top:5px;
    color:#000000;
}
.container {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 5%;
}
mat-form-field {
    margin:2px;
}
.botones {
    display:flex;
    justify-content: center;
}

button {
    margin:2px;
}